h1 {
    text-align: center;
    color: white;
    background-color: darkgreen;
    font-size: 40px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: darkblue;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

h3 {
    text-align: center;
    color:darkblue;
    font:italic;
    font-size: 15px;
    font-family: Arial, sans-serif;
    

}

h4{
    font-size: 30px;
}

img{
    width: 15%;
}
